.container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* border: 1px solid red; */

      /* text-align: center; */
}

.container>div{
    text-align: start;
    /* border: 1px solid red; */
    width: 50%;
}
.container button{
     background-color: #2874F0;
     color: white;
     margin-top: 10px;
}
.error{
    color: red;
}